<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} / gitstatus</title>

    <meta name="description" content="{{title}} / gitstatus - サービス稼働状況をリアルタイムで確認">
    <meta name="keywords" content="status, uptime, API, monitoring">
    <link rel="icon" href="{{favicon}}" type="image/x-icon">
    
    <!-- OGP -->
    <meta property="og:title" content="{{title}} status / gitstatus">
    <meta property="og:description" content="{{title}} status / gitstatus - サービス稼働状況をリアルタイムで確認">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{logo}}">
    <meta property="og:site_name" content="{{title}} status / gitstatus">
    <meta property="og:locale" content="ja_JP">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{title}} status / gitstatus">
    <meta name="twitter:description" content="{{title}} status / gitstatus - サービス稼働状況をリアルタイムで確認">
    <meta name="twitter:image" content="{{logo}}">
    <link rel="stylesheet" href="./../style.css">
</head>
<body>
    <header>
        <img src="{{logo}}" alt="logo">
        <div>
            <h1>{{title}}ステータス</h1>
            <p>最終更新: <span>{{lasttime}}</span></p>
        </div>
        <a style="margin-left: 20px;" href="./../index.html">Topへ</a>
    </header>

    <main style="margin-top: 50px;">
        {{incident_contents}}
    </main>
    <script>
        document.body.classList.add("scrolled");
    </script>
</body>
</html>
